/*
  An editor to handle CMS link attributes.
*/

[data-scrivito-field-type="link"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-scrivito-field-type="link"] ul li{
  background-color: #f1f1f1;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  margin: 0 0 10px 0;
  overflow: hidden;
  padding: 10px 10px 10px 10px;
  position: relative;
}

[data-scrivito-field-type="link"] ul li:last-child {
  margin: 0;
}

[data-scrivito-field-type="link"] ul li .list-content {
  float: left;
  line-height: 35px;
  width: 70%;
}

[data-scrivito-field-type="link"] ul li .list-content a {
  display:block;
}

[data-scrivito-field-type="link"] ul li .actions {
  position: absolute;
  top: 11px;
  right: 11px;
}

[data-scrivito-field-type="link"] ul li .actions .editing-button {
  margin: 0 0 0 10px;
}


[data-scrivito-display-mode="editing"] [data-scrivito-field-type="link"] ul li {
  padding: 10px 135px 10px 25px;
}

[data-scrivito-display-mode="editing"] [data-scrivito-field-type="link"] ul li input {
  background: #fff;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #555555;
  display: block;
  float: left;
  font-size: 14px;
  height: 34px;
  margin: 0 10px 5px 0;
  padding: 6px 12px;
  width: 100%;
}

@media (max-width: 1100px) {
  [data-scrivito-display-mode="editing"] [data-scrivito-field-type="link"] ul li {
    padding: 10px 10px 10px 25px;
  }

  [data-scrivito-field-type="link"] ul li .actions {
    float: left;
    position: static;
  }

  [data-scrivito-field-type="link"] ul li .actions .editing-button {
    margin: 0 10px 0 0;
  }
}
