/*
  An editor to handle CMS linklist attributes.
*/

[data-scrival-field-type=linklist] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

[data-scrival-field-type=linklist] ul li.ui-sortable-helper {}

[data-scrival-field-type=linklist] ul li.ui-sortable-placeholder {
  background: #ccc;
  opacity:.5;
  visibility: visible!important;
}

[data-scrival-field-type=linklist] ul li:hover {
  background-color: #f6f6f6;
  cursor: move;
}

[data-scrival-field-type=linklist] ul li input{
  background: #fff;
  border: 1px solid #ccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #555555;
  display: block;
  font-size: 14px;
  height: 34px;
  margin: 0 0 5px 0;
  padding: 6px 12px;
  width: 100%;
}
