<div class="editing-mediabrowser-body">
  <div class="editing-mediabrowser-wrapper">
    <%= render 'header' %>

    <div class="editing-mediabrowser-filter"></div>
    <div class="editing-mediabrowser-items"></div>
  </div>

  <div class="editing-mediabrowser-inspector"></div>
</div>

<%= render 'buttons' %>
