/*
  Defines various button styles used throughout the inplace editing GUI. Button styles are not
  bound to one particular inplace editing feature, but are shared accross the menubar, the
  mediabrowser or on edit views.
*/

.editing-button {
  color: #555;
  cursor: pointer;
  border:0px;
  display: inline-block;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 14px;
  margin: 0 10px 10px 0;
  min-height: 14px;
  min-width: 30px;
  padding: 8px 15px;
  text-align: center;
  vertical-align: middle;
  background: #fcfcfc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.2);
  -moz-box-shadow: 0 0 5px rgba(0,0,0,.2);
  box-shadow: 0 0 5px rgba(0,0,0,.2);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.editing-button:hover {
  color: #333;
  cursor: pointer;
  background: #fff;
}

.editing-button:active {
  color: #333;
  cursor: pointer;
  background: #eee;
}

input.editing-button {
  height: 30px;
}

a.editing-button,
a.editing-button:active {
  text-decoration: none;
}


.editing-button.editing-blue {
  background: #516b8b;
  color: #fff;
}

.editing-button.editing-blue:hover {
  background: #6781A1;
  color: #fff;
}

.editing-button.editing-blue:active {
  background-color: #425C7C;
  color: #fff;
}

.editing-button.editing-green {
  background: #658B51;
  color: #fff;
}

.editing-button.editing-green:hover {
  background: #7EA46A;
  color: #fff;
}

.editing-button.editing-green:active {
  background: #52783E;
  color: #fff;
}

.editing-button.editing-red {
  background: #AA4040;
  color: #fff;
}

.editing-button.editing-red:hover {
  background: #C05656;
  color: #fff;
}

.editing-button.editing-red:active {
  background: #A03636;
  color: #fff;
}

.editing-button.editing-yellow {
  background: #D8D63A;
  color: #666;
}

.editing-button.editing-yellow:hover {
  background: #F0EE52;
  color: #666;
}

.editing-button.editing-yellow:active {
  background: #CBC92D;
  color: #666;
}

.editing-button.editing-disabled,
.editing-button.editing-disabled:hover,
.editing-button.editing-disabled:active {
  color: #aaa!important;
  cursor: not-allowed;
  background: #eee;
}

.editing-button.editing-disabled .editing-icon,
.editing-button.editing-disabled .editing-icon:hover {
  color: #aaa!important;
  cursor: not-allowed;
}

.editing-button .editing-icon {
  color: #333;
  font-size: 9px;
  line-height: 14px;
}

.editing-button .editing-icon:hover {
  cursor: pointer;
}

.editing-button.editing-blue .editing-icon,
.editing-button.editing-green .editing-icon,
.editing-button.editing-red .editing-icon,
.editing-button.editing-yellow .editing-icon {
  color: #fff;
}
