<div class="editing-mediabrowser-footer">
  <a class="editing-button mediabrowser-close">
    Cancel
  </a>

  <a class="editing-button editing-green mediabrowser-save">
    Select

    <span class="editing-mediabrowser-counter selected-total"></span>
  </a>

  <a class="editing-button editing-red mediabrowser-delete">
    Delete

    <span class="editing-mediabrowser-counter selected-total"></span>
  </a>
